body {
    background-color: #f5f5f5;
}


nav {
    display: flex;
    height: 48px;
    /* width: 86%;   */
    padding: 43px 100px 125px 100px;
    justify-content: space-around;
    gap: 2%;
    /* flex-wrap: wrap; */
        
}

.links > a {
    text-decoration: none;
    color: black;
}



#met-logo {
    max-width: 100%;
  height: auto;
  width: auto\9;
}



.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.links {
    /* width: 626px; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    margin-right: auto;
    flex-wrap: wrap;
}

button {
    /* max-width: 170px; */
    height: 48px;
    border-radius: 10px;
    background: #A02279;
    color: white;
    cursor: pointer;
    padding: 10px;

}


button:hover {
    background-color: #64214c;
    transition: 0.7s
}

button:not(:hover) {
    background-color: #A02279;
    transition: 0.7s;
}